<form class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
    <label for="inputEmail" class="sr-only">Логин</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Логин" required autofocus
           ng-model="$ctrl.form.username">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required
           ng-model="$ctrl.form.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.login()">Войти</button>
</form>