<h2 class="d-flex align-items-center">
    <span>Пользователи</span>
    <a class="d-flex align-items-center" ng-click="$ctrl.add()">
        <span data-feather="plus"></span>
    </a>
</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Логин</th>
                        <th>Роль</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in $ctrl.data">
                        <td>{{ item._id }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.role }}</td>
                        <td>
                            <a ng-click="$ctrl.update(item._id)">
                                <span data-feather="edit"></span>
                            </a>
                            <a ng-click="$ctrl.remove(item._id)">
                                <span data-feather="delete"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm border-left" ng-if="$ctrl.editMode">
            <ui-view></ui-view>
        </div>
    </div>
</div>