<form>
    <div class="form-group">
        <label for="username">Логин</label>
        <input type="text" class="form-control" id="username" placeholder="Логин" ng-model="$ctrl.form.username">
    </div>
    <div class="form-group">
        <label for="role">Роль {{$ctrl.form.role}}</label>
        <select class="form-control" id="role" ng-model="$ctrl.form.role" ng-options="item.id as item.label for item in $ctrl.roles"></select>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Пароль" ng-model="$ctrl.form.password">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
</form>