<form>
    <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="name" placeholder="Название" ng-model="$ctrl.form.name">
    </div>
    <div class="form-group">
        <label>Цвет</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" ng-model="$ctrl.form.color" id="color_red" value="red">
        <label class="form-check-label" for="color_red">
            Красные
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" ng-model="$ctrl.form.color" id="color_blue" value="blue" checked>
        <label class="form-check-label" for="color_blue">
            Синие
        </label>
    </div>
    </div>
    <div class="form-group">
        <label for="userAccess">Название</label>
        <select class="form-control" id="userAccess" ng-model="$ctrl.form.userAccess" ng-options="item._id as item.username for item in $ctrl.users" size="8" multiple></select>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
    <button class="btn btn-danger" ng-click="$ctrl.remove()">Удалить</button>
</form>