<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Карта</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <span class="d-inline-block text-white-50">[{{ $root.me.username }}]</span>
            <a class="nav-link d-inline-block" href="#" ng-click="$ctrl.logout()">Выйти</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column" ng-if="$root.me.role === 'admin'">
                    <li class="nav-item">
                        <a class="nav-link" href="#" ui-sref="root.users" ui-sref-active="active" >
                            <span data-feather="users"></span>
                            Пользователи
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Карты</span>
                    <a class="d-flex align-items-center text-muted" ui-sref-active="active" ui-sref="root.maps.new" ng-if="$root.me.role === 'admin'">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item" ng-repeat="item in $ctrl.maps">
                        <a class="nav-link d-inline-block pr-0" ui-sref-active="active" ui-sref="root.maps.view({ map_id: item._id })">
                            <span data-feather="file-text"></span>
                            <span>{{ item.name }}</span>
                        </a>
                        <a class="nav-link d-inline-block" ui-sref-active="active" ui-sref="root.maps.edit({ map_id: item._id })" ng-if="$root.me.role === 'admin'">
                            <span data-feather="edit"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <ui-view></ui-view>
        </main>
    </div>
</div>