<h2>{{$ctrl.item.name}}</h2>
<style>
    .map-grid {
        float: left;
        width: 530px;
    }

    .map-grid-block {
        float: left;
        width: 528px;
        height: 366px;
        padding: 5px 0 0;
        background-image: url(/src/components/map-view/map.png);
        border: solid 1px #eaca81;
    }

    .map-left {
        float: left;
    }

    .map-left.map-block {
        /*border-left: 1px transparent dashed;
        border-right: 1px transparent dashed;*/
        font-size: 8px;
        height: 30px;
        width: 34px;
        -moz-border-radius: 15px;
        -vebkit-border-radius: 15px;
        border-radius: 15px;
    }

    .block-select {
        z-index: 1;
        position: absolute;
        margin: -5px 0 0 0px;
        height: 40px;
        width: 34px;
        cursor: pointer;
    }

    .map-marker {
        display: none;
        background-image: url(/src/components/map-view/marker.gif);
    }

    .map-marker-active {
        display: block;
        background-image: url(/src/components/map-view/marker.gif);
    }

    .map-marker-type1 {
        display: block;
        background-image: url(/src/components/map-view/1.png);
    }

    .map-marker-type2 {
        display: block;
        background-image: url(/src/components/map-view/2.png);
    }

    .map-marker-type3 {
        display: block;
        background-image: url(/src/components/map-view/3.png);
    }

    .map-marker-type4 {
        display: block;
        background-image: url(/src/components/map-view/4.png);
    }

    .map-marker-type5 {
        display: block;
        background-image: url(/src/components/map-view/5.png);
    }

    .map-marker-type6 {
        display: block;
        background-image: url(/src/components/map-view/6.png);
    }

    .map-marker-type7 {
        display: block;
        background-image: url(/src/components/map-view/7.png);
    }

    .map-marker-type8 {
        display: block;
        background-image: url(/src/components/map-view/8.png);
    }

    .map-left.map-block:hover .block-select {
        display: block;
    }

    .map-row:nth-child(2n+1) {
        /* margin: -1px 0 0 0; */
        /* background-color: #d8c39f; */
    }

    .map-row:nth-child(2n) {
        margin: 0 0 0 16px;
    }
</style>
<div id="map-grid" class="map-grid">
    <div class="map-grid-block">
        <span ng-if="0" ng-repeat-start="row in $ctrl.rows"></span>
        <div class="map-left map-row" data-id="1">
            <span ng-if="0" ng-repeat-start="col in $ctrl.cols"></span>
            <div class="map-left map-block" ng-click="$ctrl.select(row * $ctrl.cols.length + col)">
                <!--{{ ((row % 6)) }}
                <br>
                {{ ((col % 5)) }}
                <br>-->

                <div class="block-select" style="text-align: center;">{{ ((row % 6) * 5) + ((col % 5)) + 1 }}</div>
                <!--<br>
                {{ '' + (row % 6 + 1) + ':' + ((col % 5) + 1) }}-->
                <div class="block-select map-marker"></div>
                <div class="block-select map-marker-active"
                     ng-if="row * $ctrl.cols.length + col === $ctrl.selected"></div>
                <div class="block-select map-marker-type2"
                     ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].type === 2 && $ctrl.item.color === 'red'"></div>
                <div class="block-select map-marker-type4"
                     ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].type === 4 && $ctrl.item.color === 'red'"></div>
                <div class="block-select map-marker-type2"
                     ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].type === 4 && $ctrl.item.color === 'blue'"></div>
                <div class="block-select map-marker-type4"
                     ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].type === 2 && $ctrl.item.color === 'blue'"></div>

                <div class="block-select map-marker-type5" ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].data.crazy"></div>
                <div class="block-select map-marker-type6" ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].data.fear"></div>
                <div class="block-select map-marker-type7" ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].data.freeze"></div>
                <div class="block-select map-marker-type8" ng-if="$ctrl.item.map[row * $ctrl.cols.length + col].data.immune"></div>
            </div>
            <span ng-if="0" ng-repeat-end></span>
        </div>
        <span ng-if="0" ng-repeat-end></span>
    </div>
</div>
<div>
    <button ng-click="$ctrl.markMe()">Я</button>
    <hr>
    <button ng-click="$ctrl.markEnemy()">Оригинал врага</button>
    <button ng-click="$ctrl.markCrazy()">Сведён</button>
    <button ng-click="$ctrl.markFear()">Испуган</button>
    <button ng-click="$ctrl.markFreeze()">Заморожен</button>
    <button ng-click="$ctrl.markImmune()">Иммуны</button>
    <button ng-click="$ctrl.markReset()">Сбросить</button>
    <hr>
    <button ng-click="$ctrl.emptyCell()">Очистить</button>
    <button ng-click="$ctrl.emptyMap()" ng-if="$root.me.role === 'admin'">Очистить карту</button>
</div>
<div ng-if="$ctrl.selected !== null">
    <div>Клетка: {{ $ctrl.getPosition($ctrl.selected) }}</div>
    <div>Ник: <b>{{ $ctrl.item.map[$ctrl.selected].data.username }}</b></div>
    <div>Иммуны: <b>{{ $ctrl.item.map[$ctrl.selected].data.immune ? 'Да' : 'Нет' }}</b></div>
    <div>Сведён: <b>{{ $ctrl.item.map[$ctrl.selected].data.crazy ? 'Да' : 'Нет' }}</b></div>
    <div>Напуган: <b>{{ $ctrl.item.map[$ctrl.selected].data.fear ? 'Да' : 'Нет' }}</b></div>
    <div>Заморожен: <b>{{ $ctrl.item.map[$ctrl.selected].data.freeze ? 'Да' : 'Нет' }}</b></div>
</div>
<!--<div ng-repeat="row in $ctrl.rows">-->
<!--<b ng-repeat="col in $ctrl.cols"> {{ row + ':' + col }} </b>-->
<!--</div>-->